.top {
  height: 60vh;
  background-image: url('../pics/1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 60vw;
  height: 7vh;
  border-radius: 4vh;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #1bcfc6;
  padding-bottom: 1vh;
}

.text-center {
  padding-top: 10vh;
  font-weight: bolder;
  color: black;
}
